$color-danger: #842029;
$color-warning: #664d03;
$color-success: #0f5132;
$color-info: #055160;
$color-primary: #084298;
$color-secondary: #41464b;
$color-light: #636464;

$color-danger-bg: #f8d7da;
$color-warning-bg: #fff3cd;
$color-success-bg: #d1e7dd;
$color-info-bg: #cff4fc;
$color-primary-bg: #cfe2ff;
$color-secondary-bg: #e2e3e5;
$color-light-bg: #fefefe;

$color-danger-border: #f5c2c7;
$color-warning-border: #ffecb5;
$color-success-border: #badbcc;
$color-info-border: #b6effb;
$color-primary-border: #b6d4fe;
$color-secondary-border: #d3d6d8;
$color-light-border: #fdfdfe;
